<h1>Mijn profiel</h1>
<div class="profile-container">
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.name"
      placeholder="Voornaam"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.extension_DateOfBirth"
      placeholder="Geboortedatum"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.extension_PhoneNumber"
      placeholder="Telefoonnummer"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.postalCode"
      placeholder="Postcode"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.streetAddress"
      placeholder="Adres"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      [disabled]="disabled"
      [value]="userInfo.city"
      placeholder="Woonplaats"
    />
  </mat-form-field>
</div>
<button class="profile-change" mat-raised-button color="warn">Profiel wijzigen</button>

