<p>project works!</p>

<div class="project-flexbox">
    <mat-card class="example-card">
        <img mat-card-image src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2F4.bp.blogspot.com%2F-Y-ya2DR__Mc%2FVuLRhGstYfI%2FAAAAAAABe6U%2F2UN1PLjd5hcs8aQ5WowSYp0IcHmGJKkow%2Fs1600%2F0.jpg&f=1&nofb=1" alt="Photo of a Shiba Inu">
        <mat-card-header>
          <mat-card-title>2020</mat-card-title>
          <mat-card-subtitle>Delft</mat-card-subtitle>
        </mat-card-header>
        
        <mat-card-content>
          <p>
            Na het succes in 2017 is het onze droom om een stap verder te gaan. 
            Begin 2019 komt er weer een nieuw restaurant namens Hartige Samaritaan. 
            Het nieuwe team wat hiervoor gaat zorgen is al druk bezig met alle 
            voorbereidingen die nodig zijn om dit weer een groot succes te laten worden.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>Beschikbaarheid</button>
          <button mat-button>Agenda</button>
          <button mat-button>Mijn Shifts</button>
          <button mat-button>Plannen</button>
          <button mat-button>Medewerkers</button>
        </mat-card-actions>
      </mat-card>
      
</div>


  